

/* lista ordenada ter fundo amarelo*/
ol li {
    background-color: yellow;
}

/* numeros pares da lista ordenada tem fonte verde*/
ol li:nth-child(even) {
    color: green;
}

/* numeros impares da lista ordenada tem fonte maiuscula*/
ol li:nth-child(odd) {
    text-transform: uppercase;
}

/* as tags Header tem a fonte vermelha*/
h1, h3 {
    color: red;
}

/* as tags Header em italico tem o tamanho 40px e borda 1px preta e solida*/
h1 em, h2 em {
    font-size: 40px;
    border: 1px solid black;
}

/* todas li tem 20px*/
li {
    font-size: 20px;
}

/* todas li em italico é tambem negrito */
li em {
    font-weight: 700;
}

/* na lista de linguagem de programacao as 3 primeiras da lista tem fonte azul 
li:nth-child(-n+3) tambem funciona */
#linguagens li:not(:nth-child(n+4)){
    color: blue;
}

/* as que tem "java" no texto o fundo é rosa */
.rosa {
    background-color: palevioletred;
}

/* ao passar o mause o link fica em negrito*/
#bonus li :hover {
    font-weight: 700;
}

/*cada link possue uma cor*/
#bonus li a[href*="stackoverflow"] {
    color: orange;
}

#bonus li a[href*="W3Schools"] {
    color: green;
}

#bonus li a[href*="MDN Web Docs"] {
    color: black;
}

#bonus li a[href*="DevDocs"] {
    color: yellow;
}

#bonus li a[href*="Trybe"] {
    color: green;
}